/*
    Project CSS
    Daniel Cobb
    5-5-2016
*/

@import 'animations.css';
/*----- Main Body Style -----*/
body{
    background:#ececec;
    margin:0 auto;
    padding:0;
    font: 12pt/normal Helvetica, Arial, sans-serif;
    color:#3a3d42;
}

/*----- Utility Styles -----*/
.button{
    text-decoration: none;
    border:none;
    width:8%;
    padding:1% 5%;
    background:#22313F;
    color:#ececec;
    border-radius: 10px;
    text-transform: uppercase;
    display:inline-block;
    text-align: center;
    transition-duration: 500ms;
    -webkit-transition-duration: 500ms;
}
.button-lrg{
    margin:10% auto 5%;
    width:25%;
    padding:2% 5%;
    font-size: .75em;
}
.button:hover{
    background:#091B2B;
}

/*----- Header and Nav Styles -----*/
header{
    width:100%;
    padding:0;
    margin:0 auto;
}
nav{
    position:fixed;
    top:0;
    z-index: 100;
    background:rgba(236,236,236, .8);
    width:100%;
}
.logo-img{
    width:3%;
    display:inline-block;
    padding:5px;
    float:left;
}
ul{
    display:inline-block;
    float:left;
    width:70%;
}
ul li{
    list-style: none;
    display:inline-block;
    position:relative;
    margin:0 2%;
    width:100px;
    text-align: center;
}
ul li a{
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    border-bottom: 2px solid #3498DB;
    color:inherit;
    position:relative;
    display:block;
    padding:5px 10px;
    transition-duration: 700ms;
    -webkit-transition-duration: 700ms;
}
ul li a:hover{
    background-color:rgba(52,152,219,.6);
}

/*----- Intro/CTA Styles -----*/
#intro{
    width:100%;
    height:550px;
    background:#3498DB;
    background-size:50% 100%;
    text-align: right;
    margin:5% auto;
    animation: fadein 700ms ease-in;
}
#intro img{
    width:50%;
    height:100%;
    float:left;
}
#intro p{
    display:inline-block;
}
#intro h1{
    text-align: right;
    font-size:3em;
    padding:10% 10% 0;
    margin-top:0;
}
#intro h2{
    text-align: right;
    padding:0 10% 10%;
    font-size:1.2em
}
#intro .button{
    margin:0 10%;
}
/*----- About Section Styles -----*/
#about{
    width:96%;
    background:#34495E;
    text-align: left;
    padding:10% 2%;
    color:#ececec;
    display:inline-block;
    margin-bottom:0;
}
#about p{
    margin-top:0;
    font-size:1.2em;
    width:90%;
    padding:5%;
}
#about h2{
    margin:0 5%;
}

/*----- Blogs / Components Style -----*/
#blogs{
    width:80%;
    padding:2%;
    margin:5% auto;
    clear:both;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
}
#blogs img{
    width:100%;
    margin:0 auto;
}
#blogs img[src*="testimonycss"]{
    width:90%;
}
#blogs h2{
    text-align: center;
    font-size:3em;
    color:#34495E;
    border-bottom: 3px solid #3a3d42;
}
article{
    margin:1.1%;
    text-align: center;
    background:linear-gradient(to bottom, rgba(210,215,211,1) 0%,rgba(177,179,177,.6) 100%), #D2D7D3;
    padding:3%;
    border-radius: 3px;
    width:41.5%;
    display:inline-block;
    position: relative;
    border-right:2px solid #B1B3B1;
    border-bottom:2px solid #B1B3B1;
    box-shadow:2px 3px 7px #B1B3B1;
}
article:first-of-type{
    width:92%;
}
article:first-of-type::before{
    content: 'Featured';
    position:absolute;
    top:0;
    left:0;
    background:#F5D76E;
    width:55%;
    padding:2%;
    text-transform: uppercase;
    font-weight: 700;
    text-align: left;
    border-radius: 0 30px 30px 0;
    border-right: 2px solid #E3C766;
    border-bottom: 2px solid #E3C766;
}
#blogs article p, #blogs article h3{
    text-align: left;
}
article ul{
    float:none;
    width:100%;
    padding:0;
}
article ul li{
    text-align: left;
    display:block;
    padding:3px 0;
    width:100%;
    margin:0 auto;
}
.code{
    text-transform: uppercase;
    font-family:monospace;
    background:#fff;
    padding:2px 1%;
    border-radius: 10px;
}
/*----- Media Querries -----*/
@media screen and (max-width:880px){
    #blogs{
        width:95%;
    }
    article:not(:first-of-type){
        width:42%;
        margin: 2% auto;
    }
    #intro{
        width:100%;
        height:400px;
    }
    .button{
        width:15%;
    }
    .button-lrg{
        width:25%;
    }
    #blogs article:not(:first-of-type) h2{
        font-size:1.5em;
    }
}
@media screen and (max-width:650px){
    nav{
        position:relative;
        text-align: center;
        display:block;
    }
    ul{
        width:90%;
        margin:10px auto;
        float:none;
    }
    .logo-img{
        width:25%;
        display:block;
        margin:0 auto;
        float:none;
    }
    #intro{
        width:100%;
        height:250px;
        position: relative;
    }
    #intro h1{
        text-align: right;
        font-size:2em;
        padding:5% 5% 0;
    }
    #intro h2{
        padding:0 5% 2%;
    }
    .button{
        width:20%;
        font-size:.8em;
    }
    article:not(:first-of-type){
        width:92%;
        margin: 2% auto;
    }
    article:first-of-type{
        border:5px solid #F5D76E;
    }
}
