/*
    Project CSS
    Daniel Cobb
    5-5-2016
*/


/*----- Main Body Style -----*/
body{
    max-width:1900px;
    background:#ececec;
    margin:0 auto;
    padding:0;
    font: 12pt/normal Helvetica, Arial, sans-serif;
    color:#3a3d42;
}
.wrapper{
    width:100%;
    padding:0;
    overflow: hidden;
    margin:5% auto;
}

/*----- Utility Styles -----*/
.button{
    text-decoration: none;
    border:none;
    width:8%;
    padding:1% 5%;
    background:#22313F;
    color:#ececec;
    border-radius: 10px;
    text-transform: uppercase;
    display:inline-block;
    text-align: center;
}
.right{
    float:right;
}

/*----- Header and Nav Styles -----*/
header{
    width:100%;
    padding:0;
    margin:0 auto;
}
nav{
    position:fixed;
    top:0;
    z-index: 100;
    background:rgba(236,236,236, .8);
    width:100%;
}
.logo-img{
    width:3%;
    display:inline-block;
    padding:1%;
    float:left;
}
ul{
    display:inline-block;
    float:left;
    width:70%;
}
ul li{
    list-style: none;
    display:inline-block;
    position:relative;
    margin:0 2%;
}
ul li a{
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    border-bottom: 2px solid #3498DB;
    color:inherit;
    position:relative;
}

/*----- Intro/CTA Styles -----*/
#intro{
    width:100%;
    height:550px;
    background:#3498DB;
    background-size:50% 100%;
    text-align: right;
    margin:0 auto;
}
.intro-img{
    width:50%;
    height:100%;
    float:left;
}
#intro p{
    display:inline-block;
}
#intro h1{
    text-align: right;
    font-size:3em;
    padding:10% 10% 0;
    margin-top:0;
}
#intro h3{
    text-align: right;
    padding:0 10% 10%;
}
#intro .button{
    margin:0 10%;
}
/*----- About Section Styles -----*/
#about{
    width:100%;
    background:#34495E;
    text-align: left;
    padding:10% 2%;
    color:#ececec;
    display:inline-block;
    margin-bottom:0;
}
#about p{
    margin-top:0;
    font-size:1.2em;
    width:90%;
    padding:5%;
}
#about h2{
    margin:0 5%;
}

/*----- Blogs / Components Style -----*/
#blogs{
    width:90%;
    padding:2%;
    margin:5% auto;
    clear:both;
}
#blogdisplay{
    width:90%;
    padding:2%;
    margin:5% auto;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
}
.blog-img{
    width:100%;
    margin:0 auto;
}
#blogs h2{
    text-align: center;
    font-size:3em;
    color:#34495E;
    border-bottom: 3px solid #3a3d42;
}
article{
    margin:1%;
    text-align: center;
    background:#D2D7D3;
    padding:2%;
    border-radius: 3px;
    width:44%;
    display:inline-block;
    position: relative;
}
article:first-of-type{
    width:94%;
}
#blogs article p, #blogs article h3{
    text-align: left;
}
#blogs article .featuredpost{
    position:absolute;
    top:0;
    left:0;
    background:#F5D76E;
    width:55%;
    padding:2%;
    text-transform: uppercase;
    font-weight: 700;
    text-align: left;
    border-radius: 0 30px 30px 0;

}
article ul{
    text-align: left;
}
article ul li{
    display:block;
}
.code{
    text-transform: uppercase;
    font-family:monospace;
    background:#fff;
    padding:.5% 1%;
    border-radius: 10px;
}
.cssbreakdown{
    width:90%;
}
/*----- Media Querries -----*/
@media screen and (max-width:840px){
    #blogdisplay{
        -moz-column-count: 1;
        -moz-column-gap: 0px;
        -webkit-column-count: 1;
        -webkit-column-gap: 0px;
        column-count: 1;
        column-gap: 0px;
    }
    #intro{
        width:100%;
        height:400px;
    }
    .button{
        width:15%;
    }
}
@media screen and (max-width:650px){
    #intro{
        width:100%;
        height:300px;
        margin-top:10%;
    }
    #intro h1{
        text-align: right;
        font-size:2em;
        padding:5% 5% 0;
    }
    .button{
        width:20%;
        font-size:.8em;
    }
}
