<!DOCTYPE html>
<html>
<head>
	<title>WSP Component: Daniel Cobb</title>

	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />
	<link href='https://fonts.googleapis.com/css?family=Astloch' rel='stylesheet' type='text/css'>


</head>
<body>

	<!-- Component -->
	<section>
		<h1>Testimonials</h1>
		<h2>Our happy clients</h2>
		<span class="linkhov"><</span><span class="linkhovright">></span>
		<img src="img.png" alt="client image"/>
		<h3>Kellie Ryan</h3>
		<p>Wow, I'm so happy with your service. You managed to exceed my expectations! You guys are very efficient and I will refer more people to your company!</p>
		<button>Read More</button>
	</section>
	<!-- End Component -->

</body>
</html>
