<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>WSP Component: Daniel Cobb</title>
	<link rel="stylesheet" type="text/css" href="component.css" />
	<link href='https://fonts.googleapis.com/css?family=Merriweather+Sans:400,300,700,800' rel='stylesheet' type='text/css'>


</head>
<body>

	<!-- Component -->
	<footer>
		<section>
			<h5>Sign up for NYC news, reported as they happen!</h5>
			<p>There is no better way for a New Yorker to stay updated on his City's current affairs...</p>
			<form>
				<input type="email" placeholder="Enter your e-mail"/>
				<input type="submit" value="Subscribe"/>
			</form>
		</section>
	</footer>
	<!-- End Component -->

</body>
</html>
