<!DOCTYPE html>
<html>
<head>
	<title>WSP Component: Daniel Cobb</title>

	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />


</head>
<body>

	<!-- Component -->
<header>
	<article class="cta">
		<span class="background">
			<p>MY PERSONAL PAGE</p>
			<p>CHILL OUT.<br>THINK. ENJOY.</p>
			<p>By means of photography we can recollect our past and connect it with the present. We often say that a picture is worth a thousand words. With the help of camera shots we can literally freeze the moment in our hands.<p>
		</span>
		<span class="active"></span><span class="circle"></span><span class="circle"></span>
	</article>
	<article class="banner">
		<!-- This had some more info not part of the CTA componenet, but the background was visible in the CTA component screenshot-->
	</article>
</header>
	<!-- End Component -->

</body>
</html>
