<!DOCTYPE html>
<html>
<head>
	<title>WSP Component: Daniel Cobb</title>

	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />


</head>
<body>

	<!-- Component -->
<header>
	<section class="cta">
		<h1>MY PERSONAL PAGE</h1>
		<h2>CHILL OUT.</h2>
		<h2>THINK. ENJOY.</h2>
		<p>By means of photography we can recollect our past and connect it with the present. We often say that a picture is worth a thousand words. With the help of camera shots we can literally freeze the moment in our hands.</p>
		<ul>
			<li class="active"><a href="#" title="Link One">1</a></li>
			<li><a href="#" title="Link Two">2</a></li>
			<li><a href="#" title="Link Three">3</a></li>
		</ul>
	</section>
	<article class="banner">
		<!-- This had some more info not part of the CTA componenet, but the background was visible in the CTA component screenshot-->
	</article>
</header>
	<!-- End Component -->

</body>
</html>
