/* Component Stylesheet
============================================================
============================================================*/
@import '../../css/animations.css';
body{
    animation:fadein 2000ms;
}
header{
    width:100%;
    height:1000px;
    background: linear-gradient(to bottom, rgba(0,0,0,.2) 0%,rgba(0,0,0,0.2) 100%) no-repeat,linear-gradient(to bottom, rgba(0,0,0,.1) 0%,rgba(0,0,0,0.1) 100%) no-repeat, url('slide_1.jpg')top center no-repeat,url('content.jpg')top center no-repeat;
    background-size:82% 100%, 100% 800px, 100% 800px, cover;
    font: 300 16px/26px 'Roboto', sans-serif;

}
header section{
    width:95%;
    height:800px;
    padding:15% 0 0 5%;
    position:relative;
}
h1{
    color: #ecdd62;
    margin: 0 0 20px 0;
    line-height: 30px;
    font-size: 22px;
    font-weight: 700;
    font-style: normal;
    text-transform: uppercase;
    letter-spacing: 1px;
}
h2{
    color: rgb(255,255,255);
    margin: 0 0 30px 0;
    padding: 0 0 30px 0;
    line-height: 42px;
    font-size: 42px;
    font-weight: 700;
    text-transform: uppercase;
}
h2:first-of-type{
    margin:0;
    padding:0;
}
p{
    color: #d0cdcf;
    line-height: 22px;
    font-size: 16px;
    position: relative;
    max-width: 570px;
    padding: 0 127px 0 0;
    font-weight: 300;
    font-style: italic;
}
p::before{
    background: #ecdd62;
    height: 6px;
    width:125px;
    content:' ';
    top:-30%;
    position:absolute;
}
ul{
    position:absolute;
    bottom:50px;
    display:block;
    width:100%;
    font-size:0;
}
ul li{
    border-radius: 50%;
	width: 20px;
	height: 20px;
    background:#fff;
    display:inline-block;
    margin:0 .5% 0 0;
}
ul li a{
    display:block;
}
.active{
    background:#ecdd62;
}
header article{
    width:82%;
    height:200px;
    background:url('bg_1.jpg')top center no-repeat;
}
@media screen and (max-width:650px){
    header{
        height:800px;
    }
    header section{
        width:95%;
        height:600px;
        padding:15% 0 0 5%;
        position:relative;
    }
    header article{
        width:100%;
    }
}
