<!DOCTYPE html>
<html>
<head>
	<title>WSP Component: Daniel Cobb</title>


	<link rel="stylesheet" type="text/css" href="component.css" />


</head>
<body>
	<!-- Component -->
	<nav>
		<ul class="flexwrap">
			<li class="flex-lrg">
				<a href="#" alt="A link about Coffee products"><img src="banner-1.jpg" title="coffee"/></a>
			</li>
			<li class="flex-item">
				<a href="#" alt="A link about Coffee products"><img src="banner-2.jpg" title="coffee"/></a>
			</li>
			<li class="flex-item">
				<a href="#" alt="A link about Coffee products"><img src="banner-3.jpg" title="coffee"/></a>
			</li>
			<li class="flex-lrg">
				<a href="#" alt="A link about Coffee products"><img src="banner-4.jpg" title="coffee"/></a>
			</li>
		</ul>
	</nav>

	<!-- End Component -->

</body>
</html>
