<!DOCTYPE html>
<html>
<head>
	<title>WSP Component: Daniel Cobb</title>

	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />


</head>
<body>
	<!-- Component -->
	<div class="flexwrap">
		<figure class="flex-lrg">
			<a href="#" alt="A link about Coffee products"><img src="banner-1.jpg" title="coffee"/></a>
		</figure>
		<figure class="flex-item">
			<a href="#" alt="A link about Coffee products"><img src="banner-2.jpg" title="coffee"/></a>
		</figure>
		<figure class="flex-item">
			<a href="#" alt="A link about Coffee products"><img src="banner-3.jpg" title="coffee"/></a>
		</figure>
		<figure class="flex-lrg">
			<a href="#" alt="A link about Coffee products"><img src="banner-4.jpg" title="coffee"/></a>
		</figure>
	</div>

	<!-- End Component -->

</body>
</html>
