<!DOCTYPE html>
<html>
<head>
	<title>WSP Component: Daniel Cobb</title>

	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />


</head>
<body>
	<!-- Component -->
	<div class="flexwrap">
		<a href="#"><img src="banner-1.jpg" class="flex-lrg" title="coffee"/></a>
		<span class="flex-item">
			<a href="#"><img src="banner-2.jpg" class="" title="coffee"/><a>
			<a href="#"><img src="banner-3.jpg" class="" title="coffee"/><a>
		</span>
		<a href="#"><img src="banner-4.jpg" class="flex-lrg" title="coffee"/><a>
	</div>

	<!-- End Component -->

</body>
</html>
