<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>WSP Component: Daniel Cobb</title>
	<link rel="stylesheet" type="text/css" href="component.css" />
	<link href='https://fonts.googleapis.com/css?family=Merriweather+Sans:400,300,700,800' rel='stylesheet' type='text/css'>


</head>
<body>

	<!-- Component -->
	<div class="flexwrap">
		<article class="flex-lrg">
			<div class="links">
				<a href="#" class="button">City Councils</a>
				<h2><a href="#">Spring-ready cafe terraces</a></h2>
				<ul>
					<li><a href="#">2 Weeks Ago</a></li>
					<li><a href="#">Admin</a></li>
				</ul>
			</div>
		</article>
		<article class="flex-item">
			<div class="links">
				<a href="#" class="button">NYPD & CRIMES</a>
				<h2><a href="#">Concert in Central Park went wrong</a></h2>
				<ul>
					<li><a href="#">2 Weeks Ago</a></li>
					<li><a href="#">Admin</a></li>
				</ul>
			</div>

		</article>
		<article class="flex-item">
			<div class="links">
				<a href="#" class="button">SOCIAL</a>
				<h2><a href="#">NYC Morning Habits</a></h2>
				<ul>
					<li><a href="#">2 Weeks Ago</a></li>
					<li><a href="#">Admin</a></li>
				</ul>
			</div>

		</article>
	</div>
	<!-- End Component -->

</body>
</html>
